/*.siteContainer {
    padding-left:25px;
    padding-right:25px;
}*/

@media only screen and (max-width:1500px) {
    .siteContainer {
        width: 1240px;
    }
}

@media only screen and (max-width:1240px) {
    .siteContainer {
        width: 1000px;
    }
}

@media only screen and (max-width:1000px) {
    .siteContainer {
        width: 760px;
    }
}

@media only screen and (max-width:780px) {

}

@media only screen and (max-width:760px) {
    *:not(.slider):not(.slider_liste) { 
        max-width:100%;
    }
}

@media only screen and (max-width:580px) {
    .siteContainer {
        width: 320px;
    }  
}

@media only screen and (max-width:320px) {
    .siteContainer{
        width:100%;
    }
}

.argePageTitleLine {
    margin-top: 5px;
}